.inner {
  position: absolute;
  right: 40%;
  top: 100px;
  display: flex;
	align-items: center;
  max-width: 200px;
	column-gap: 10px;
	width: 100%;
}

.totalPrice {
  margin: 0 auto 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 100px;
  background-color: rgb(36, 37, 41);
  border-radius: 15px;
  cursor: pointer;
  border-bottom: 1px solid #5558ed;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.text {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.span {
  color: #d331a3;
}

.button {
  background-color: rgb(85, 88, 237);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  padding: 12px;
  cursor: pointer;
}

@media (max-width: 825px) {
  .totalPrice {
    width: 600px;
  }
  .text {
    font-size: 20px;
  }
}
@media (max-width: 757px) {
  .totalPrice {
    width: 400px;
    margin-bottom: 20px;
  }
  .text {
    font-size: 15px;
  }
}
@media (max-width: 412px) {
  .totalPrice {
    width: 300px;
    margin-bottom: 20px;
  }
  .text {
    font-size: 15px;
  }
  .button {
    display: block;
    margin: 0 0 0 30px;
    padding: 6px;
    font-size: 10px;
  }
}
