.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgb(85, 88, 237);
  padding-top: 40px;
  margin-bottom: 100px;
}

.wrapper {
  max-width: 100px;
	width: 100%;
}

.wrapper a {
	display: flex;
	align-items: center;
	gap: 5px;
}

.title {
	font-size: 26px;
}

.title,
.price {
  color: white;
  font-weight: 700;
}
@media (max-width: 1000px) {
  .header {
    margin-bottom: 80px;
  }
}
